<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Event Management Platform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .event-card {
            transition: transform 0.3s;
            hyphens: auto;
        }
        .event-card:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    </style>
</head>
<body class="container" style="padding-top: 4.5rem;">
    <header th:insert="blocks/header :: header"></header>

    <div sec:authorize="hasRole('USER')">Text visible to user.</div>
    <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
    <div sec:authorize="isAuthenticated()">Authenticated username:<div sec:authentication="principal.username"></div></div>

    <p>Hello World!</p>

    <h1 class="mt-4 mb-4">Список ивентов</h1>
    <div class="row mb-3">
        <div class="col-12 mb-3" th:each="event : ${events}">
            <div class="card event-card" th:attr="onclick='location.href=\'/events/' + ${event.id} + '\''">
                <div class="card-body">
                    <h5 class="card-title" th:text="${event.title}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${event.location}"></h6>
                    <p class="card-text" th:text="${#strings.length(event.description) &gt; 200} ? ${T(org.jsoup.Jsoup).parse(#strings.replace(#strings.substring(event.description, 0, 200), '&#10;', ' ')).text()} + '...' : ${T(org.jsoup.Jsoup).parse(#strings.replace(event.description, '&#10;', ' ')).text()}"></p>
                    <div class="d-flex justify-content-between">
                        <small class="text-muted">
                            <span th:text="'Start: ' + ${#temporals.format(event.start, 'dd.MM.yyyy HH:mm')}"></span><br>
                            <span class="float-end" th:text="'End: ' + ${#temporals.format(event.end, 'dd.MM.yyyy HH:mm')}"></span>
                        </small>
                        <small class="text-muted">
                            <span class="float-end" th:text="'Views: ' + ${event.views}"></span><br>
                            <span th:text="'Subscribers: ' + ${event.subscribers}"></span>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>