<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="UTF-8">
    <title>Comment Section</title>
</head>
<body>
<div th:fragment="comments" class="d-flex card p-3 gap-3 mb-3">
    <!--/*@thymesVar id="user" type="me.twometrue.eventmanager.models.User"*/-->
    <!--/*@thymesVar id="event" type="me.twometrue.eventmanager.models.Event"*/-->
    <!--/*@thymesVar id="comment" type="me.twometrue.eventmanager.models.Comment"*/-->

    <form class="d-flex gap-3" method="post" th:action="${event.id} + '/comment'" th:if="${user != null}">
        <img th:src="${user.imageSrc}" width="50" class="rounded-circle" onerror="this.onerror=null;this.src='/images/placeholder.jpg';">
        <input type="text" class="form-control" placeholder="Enter your comment..." id="content" name="content">

        <input type="hidden" name="user" th:value="${#authentication.principal.id}">
        <input type="hidden" name="event" th:value="${event.id}">
        <button type="submit" class="btn btn-success">Post</button>
    </form>

    <div class="d-flex flex-column ps-2 gap-2">
        <div th:if="${event.comments.size() == 0}" class="text-muted">
            No comments yet! Be the first to post a reaction!
        </div>
        <div class="d-flex gap-2" th:if="${event.comments.size() > 0}" th:each="comment : ${event.comments}">
            <img th:src="${comment.user.imageSrc}" width="45" height="45" class="rounded-circle mr-3" onerror="this.onerror=null;this.src='/images/placeholder.jpg';">

            <div class="d-flex flex-column w-100">
                <div class="d-flex gap-3">
                    <span th:text="${comment.user.name}" class="fw-bold"></span>
                    <span th:text="${comment.user.username}" class="text-muted"></span>

                    <small th:text="${#temporals.format(comment.creationTime, 'dd.MM.yyyy HH:mm')}" class="ms-auto text-muted"></small>
                </div>
                <div class="text-justify text-break" th:text="${comment.content}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>