<!--/*@thymesVar id="event" type="me.twometrue.eventmanager.models.Event"*/-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<body>
    <div th:fragment="eventView">
        <div class="d-flex mb-3">
            <div class="d-flex flex-column me-3" style="max-width: 35%;">
                <img class="rounded mb-3 card" th:src="${event.imageUrl}" alt="Event image">
                <div id="map" class="rounded mb-3 card"></div>
                <div class="card p-3">
                    <div>Event location:</div>
                    <div th:text="${event.location}"></div>
                    <div th:value="${event.latitude}" th:text="'Latitude: ' + ${event.latitude}" id="latitude"></div>
                    <div th:value="${event.longitude}" th:text="'Longitude: ' + ${event.longitude}" id="longitude"></div>
                </div>

            </div>
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h2 th:text="${event.title}" class="text-center flex-fill mb-0"></h2>
                    <th:block sec:authorize="isAuthenticated()">
                        <a type="button" th:text="${subscribed ? 'Unsubscribe' : 'Subscribe'}" th:classappend="${subscribed} ? btn-outline-danger : btn-outline-success" th:href="${event.id} + '/toggleSubscription'" class="btn me-2"></a>
                        <div class="btn-group" th:if="${#authorization.expression('hasRole(''EDITOR'')') or #authentication.principal.id == event.authorId}">
                            <a type="button" class="btn btn-outline-primary" href="?edit">Edit</a>
                            <a type="button" class="btn btn-outline-danger" href="?delete">Delete</a>
                        </div>
                    </th:block>

                </div>
                <div th:utext="${#strings.replace(event.description, '&#10;', '&lt;br&gt;')}" class="fs-4 text-justify p-3"></div>
                <div class="card-footer d-flex justify-content-between mt-auto text-muted">
                    <div>
                        <div th:text="'Start: ' + ${#temporals.format(event.start, 'dd.MM.yyyy HH:mm')}"></div>
                        <div class="float-end" th:text="'End: ' + ${#temporals.format(event.end, 'dd.MM.yyyy HH:mm')}"></div>
                    </div>
                    <div class="text-end">
                        <div>Views: <span th:text="${event.views}"></span></div>
                        <div>Subscribers: <span th:text="${event.users.size()}"></span></div>
                    </div>

                </div>
            </div>
        </div>

        <div th:insert="~{blocks/comments :: comments}"></div>

    </div>
</body>
</html>