<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security6" lang="en">
<body>

<!--An events list is needed for processing the next block-->
<div class="d-flex flex-column" th:fragment="events">
    <div class="card shadow border-0 mb-4" th:fragment="eventCard" th:each="event, eventStat : ${events}" th:classappend="${(eventStat.index % 2 == 1 ? 'card-reversed ' : '') + (event.theme)}">
      <div class="row g-0">
        <div class="col-3 card-image">
          <img th:src="${event.imageUrl}" alt="event" class="img-fluid rounded-0 h-100" onerror="this.onerror=null;this.src='/images/placeholder.jpg';">
        </div>
        <div class="col-1 card-spacer"></div>
        <div class="col">
          <div class="card-body p-5 py-4">
            <h1 class="card-title" th:text="${event.title}"></h1>
            <div class="card-calendar">
              <img src="/images/calendar.svg" class="bi me-1">
              <p th:text="${#temporals.format(event.start, 'dd.MM.yyyy HH:mm')}"></p>
            </div>
            <div class="card-bar"></div>
            <p class="card-text" th:text="${#strings.length(event.description) &gt; 255} ? ${T(org.jsoup.Jsoup).parse(#strings.replace(#strings.substring(event.description, 0, 252), '&#10;', ' ')).text()} + '...' : ${T(org.jsoup.Jsoup).parse(#strings.replace(event.description, '&#10;', ' ')).text()}"></p>

            <a class="" th:attr="href='/events/' + ${event.id}">More info</a>
          </div>
        </div>
      </div>
</div>


</div>

<div class="row mb-3" >
  <div class="col-12 mb-3" th:each="event : ${events}">
    <div class="card event-card" th:attr="onclick='location.href=\'/events/' + ${event.id} + '\''">
      <div class="card-body">
        <h5 class="card-title" th:text="${event.title}"></h5>
        <h6 class="card-subtitle mb-2 text-muted" th:text="${event.location}"></h6>
        <p class="card-text" th:text="${#strings.length(event.description) &gt; 200} ? ${T(org.jsoup.Jsoup).parse(#strings.replace(#strings.substring(event.description, 0, 200), '&#10;', ' ')).text()} + '...' : ${T(org.jsoup.Jsoup).parse(#strings.replace(event.description, '&#10;', ' ')).text()}"></p>
        <div class="d-flex justify-content-between">
          <small class="text-muted">
            <span th:text="'Start: ' + ${#temporals.format(event.start, 'dd.MM.yyyy HH:mm')}"></span><br>
            <span class="float-end" th:text="'End: ' + ${#temporals.format(event.end, 'dd.MM.yyyy HH:mm')}"></span>
          </small>
          <small class="text-muted">
            <span class="float-end" th:text="'Views: ' + ${event.views}"></span><br>
            <span th:text="'Subscribers: ' + ${event.subscribers}"></span>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>